  page-menu {
    .item-inner {
      border-bottom: none !important;
    }
    .item {
      background: transparent !important;
    }
    .menupage {
      background: url(../assets/images/bg_menu.png) no-repeat top center !important;
      background-size: cover !important;
    }
  }
